.card-details {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.card-details h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: italic;
  max-width: 700px;
  align-self: center;
  margin-top: 25px;
  margin-bottom: 7px;
}
.card-details img {
  align-self: center;
  height: 650px;
  width: 950px;
  margin-bottom: 5px;
}
.card-details p {
  color: rgb(52, 51, 51);
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  font-size: large;
  margin-bottom: 15px;
  padding: 4px;
  border-bottom: 1px solid rgb(217, 212, 212);
}

.card-details h4 {
  font-style: oblique;
  color: rgb(123, 122, 122);
  align-self: center;
  max-width: 950px;
  margin-bottom: 15px;
  
}

.error a {
  text-decoration: none;
  color: black;
}