* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

@media (min-width: 1024px) {
  .App {
    margin: 0 auto;
    padding: 0 4%;
  }
}

input {
  font-size: large;
  height: 20px;
  text-align: center;
  width: 28px;
  background-color: transparent;
  transition: width 1s ease-in-out;
  border-radius: 10px;
}

input:focus {
  width: 100%;
}

.search-bar {
  align-self: center;
}

.search-icon {
  position: absolute;
  background-color: transparent;
  padding-left: 3px;
  padding-top: 4.5px;
  height: 15px !important;
}

.search-results img {
  max-height: 450px;
  max-width: 570px;
  margin-top: 2px;
  padding: 5px;
}

.search-results h1 {
  font-size: large;
}

.search-results h4 {
  font-size: 15px;
  margin-top: -8px;
}